:root {
	--background: #090909;
	--color: #ACACAC;
	--surface: #222222;
	--onSurface: #484848;
	--colorVariationNone: #454545;
	--colorVariationAction: #DC4242;
	--colorVariationTruth: #84DE02;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	   -moz-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	vertical-align: baseline;
}

button {
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: inherit;
	color: inherit;
}

input {
	font-family: inherit;
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

::-webkit-scrollbar-thumb {
	background: #dc4242 !important;
	-webkit-border-radius: 15px !important;
	        border-radius: 15px !important;
}

::-webkit-scrollbar-thumb:hover {
	background: #dc5757 !important;
}

::-webkit-scrollbar-track {
	background: #191919 !important;
	-webkit-border-radius: 0px !important;
	        border-radius: 0px !important;
}

html {
	scrollbar-color: #191919 #dc4242;
}

html, body {
	font-size: 10px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	min-height: 100vh;
	max-width: 100vw;
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--background);
	color: var(--color);
}

.tablet {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 15px;
	gap: 25px;
	-webkit-perspective: 3500;
	   -moz-perspective: 3500;
	        perspective: 3500;
}

.card {
	--colorVariation: var(--colorVariationNone);
	position: relative;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: -o-transform 1s;
	-moz-transition: transform 1s, -moz-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
	width: 250px;
	min-height: 100px;
	font-size: 1.6rem;
	text-align: center;
}
.card--rotate {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.card__front, .card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--surface);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	border: 1px solid var(--colorVariation);
	-webkit-box-shadow: 2px 2px 4px 1px var(--colorVariation);
	   -moz-box-shadow: 2px 2px 4px 1px var(--colorVariation);
	        box-shadow: 2px 2px 4px 1px var(--colorVariation);
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transition: 0.5s border-color, 0.5s -webkit-box-shadow;
	transition: 0.5s border-color, 0.5s -webkit-box-shadow;
	-o-transition: 0.5s box-shadow, 0.5s border-color;
	-moz-transition: 0.5s box-shadow, 0.5s border-color, 0.5s -moz-box-shadow;
	transition: 0.5s box-shadow, 0.5s border-color;
	transition: 0.5s box-shadow, 0.5s border-color, 0.5s -webkit-box-shadow, 0.5s -moz-box-shadow;
}
.card__front:hover, .card__back:hover {
	cursor: pointer;
	border: 1px solid var(--colorVariation);
	-webkit-box-shadow: 4px 4px 6px 1px var(--colorVariation);
	   -moz-box-shadow: 4px 4px 6px 1px var(--colorVariation);
	        box-shadow: 4px 4px 6px 1px var(--colorVariation);
}
.card__back {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.card--variation-action {
	--colorVariation: var(--colorVariationAction);
}
.card--variation-truth {
	--colorVariation: var(--colorVariationTruth);
}
.card__image {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 75px;
	height: 75px;
}/*# sourceMappingURL=main.css.map */