html, body
{
	font-size: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	min-height: 100vh;
	max-width: 100vw;

	height: 100%;
	width: 100%;
}

body
{
	background-color: var(--background);
	color: var(--color);
}


.tablet
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	padding: 15px;
	gap: 25px;

	perspective: 3500;
}

.card
{
	--colorVariation: var(--colorVariationNone);

	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;

	width: 250px;
	min-height: 100px;

	font-size: 1.6rem;
	text-align: center;

	&--rotate
	{
		transform: rotateY(180deg);
	}

	&__front,
	&__back
	{
		position: absolute;
		width: 100%;
		height: 100%;

		padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: var(--surface);

		border-radius: 10px;
		border: 1px solid var(--colorVariation);
		box-shadow: 2px 2px 4px 1px var(--colorVariation);

		backface-visibility: hidden;
		transition: .5s box-shadow, .5s border-color;

		&:hover
		{
			cursor: pointer;
			border: 1px solid var(--colorVariation);
			box-shadow: 4px 4px 6px 1px var(--colorVariation);
		}
	}

	&__back
	{
		transform: rotateY(180deg);
	}

	&--variation-action
	{
		--colorVariation: var(--colorVariationAction);
	}

	&--variation-truth
	{
		--colorVariation: var(--colorVariationTruth);
	}

	&__image
	{
		user-select: none;

		width: 75px;
		height: 75px;
	}
}
