html, body
{
	font-size: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	min-height: 100vh;
	max-width: 100vw;

	height: 100%;
	width: 100%;
}

body
{
	background-color: var(--background);
	color: var(--color);
	position: relative;
}


.tablet
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	padding: 15px;
	gap: 25px;

	perspective: 3500px;
}

.card
{
	--colorVariation: var(--colorVariationNone);

	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;

	width: 250px;
	min-height: 120px;

	font-size: 1.6rem;
	text-align: center;

	@media (max-width: $medium)
	{
		width: 150px;
		font-size: 1.5rem;
	}

	&--rotate
	{
		transform: rotateY(180deg);
	}

	&__front,
	&__back
	{
		position: absolute;
		width: 100%;
		height: 100%;

		padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: var(--surface);

		border-radius: 10px;
		border: 1px solid var(--colorVariation);
		box-shadow: 2px 2px 4px 1px var(--colorVariation);

		backface-visibility: hidden;
		transition: .5s box-shadow, .5s border-color;

		&:hover
		{
			cursor: pointer;
			border: 1px solid var(--colorVariation);
			box-shadow: 4px 4px 6px 1px var(--colorVariation);
		}
	}

	&__back
	{
		transform: rotateY(180deg);
	}

	&--variation-action
	{
		--colorVariation: var(--colorVariationAction);
	}

	&--variation-truth
	{
		--colorVariation: var(--colorVariationTruth);
	}

	&__image
	{
		user-select: none;

		height: 75%;
	}
}

.modal
{
	position: fixed;
	perspective: 500px;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: none;

	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, .3);

	justify-content: center;
	align-items: center;

	&--show
	{
		display: flex;
	}

	&__card
	{
		max-width: 350px;
		width: 90%;
	}
}
